<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ge0rges</key>
	<string></string>
	<key>Dude</key>
	<dict>
		<key>name</key>
		<string>Dude</string>
		<key>status</key>
		<string>In Development</string>
		<key>description</key>
		<string>A Context Aware awesome app.</string>
	</dict>
	<key>WhatToPack</key>
	<dict>
		<key>appID</key>
		<string>893166028</string>
	</dict>
	<key>MoveCounter</key>
	<dict>
		<key>appID</key>
		<string>877769688</string>
	</dict>
	<key>961 Beer</key>
	<dict>
		<key>appID</key>
		<string>897157079</string>
	</dict>
	<key>FallingBall</key>
	<dict>
		<key>appID</key>
		<string>888456363</string>
	</dict>
	<key>Bloard</key>
	<dict>
		<key>name</key>
		<string>Bloard</string>
		<key>status</key>
		<string>Published / In Development</string>
		<key>description</key>
		<string>Dude was originally developed as a jailbreak tweak by GN-OS a group I co-founded. It forces a dark keyboard throughout the operating system. We are now developing an official keyboard which will contain new advancements in auto-correct.</string>
	</dict>
	<key>Saily</key>
	<dict/>
	<key>FOO</key>
	<dict/>
	<key>LiberiOS</key>
	<dict/>
	<key>Hackathon</key>
	<string></string>
	<key>BadgeClearer</key>
	<string></string>
</dict>
</plist>
